data/poesia/resources/pizarnik.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>Edición genética de Alejandra Pizarnik</title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl/></encodingDesc><revisionDesc>
            <change when="2023-10-30Z">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="pizarnik" source="teipublisher.odd"> <elementSpec ident="listApp" mode="add"/><elementSpec ident="front" mode="change"><model behaviour="omit"/></elementSpec><elementSpec ident="head" mode="change"/><elementSpec ident="l" mode="change"><model behaviour="block" useSourceRendition="true">
            <param name="content" value="."/>
            <param name="key" value="@n"/>
            <pb:template xmlns="" xml:space="preserve"><pb-highlight key="[[key]]" highlight-self="highlight-self">[[content]]</pb-highlight></pb:template>
            <outputRendition xml:space="preserve">
            margin-left: 1em;
            </outputRendition>
        </model></elementSpec><elementSpec ident="app" mode="add"><model predicate="$parameters?display='ms'" behaviour="inline">
            <param name="content" value="rdg[@wit eq '#ms']"/>
        </model><model predicate="$parameters?display='pub'" behaviour="inline">
            <param name="content" value="rdg[@wit eq '#pub']"/>
        </model></elementSpec><elementSpec ident="div" mode="change"><model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model><model predicate="parent::body or parent::front or parent::back" behaviour="section">
            <outputRendition xml:space="preserve">
            margin: 0 2em 0 0;
            </outputRendition>
        </model><model behaviour="block"/></elementSpec><elementSpec ident="subst" mode="add"><model behaviour="inline">
            <param name="content" value="(del, add)"/>
        </model></elementSpec></schemaSpec>
        </body>
    </text></TEI>